*, *::before, *::after { box-sizing: border-box; }

img {
  max-width: 100%;
}

body {
  background-color: rgba(13, 163, 209, 0.877);
  text-align: center;
}

.container {
  display: grid;
  background-color: white;
  margin: 45px;
}

nav {
  position: fixed;
  width: 100%;
  background-color: rgba(13, 163, 209, 0.877);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 1rem;
  margin: 0;
  font-size: 1rem;
}

nav a {
  text-decoration: none;
  color: white;
}

.hero-img {
  background: url(../images/otono-day-cohort-JS-Bootcamp-Dec-1-2022-4.jpg);
  background-size: 115%;

  /* background-position-x: 70px; */
  background-repeat: no-repeat;
  /* max-width: 100%; */
  grid-area: hero;
  padding: 200px 0;
  height: 40vh;
  width: 100vw;
}

.featured-content {
  margin: 30px;
}

.feature {
  margin: 60px auto;
}

footer {
  margin-bottom: 5px;
}

footer p {
  color: white;
}
